<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Data Exchange</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()">
        <ion-icon slot="icon-only" name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <ion-list>
    <ion-list-header>
      <ion-label>
        <b>Configure Data Exchange</b>
      </ion-label>
    </ion-list-header>
  
    <!-- csv|fixed|db3|ixf|sqlite|mysql|mssql -->

    <ion-item>
      <ion-label position="stacked"><b>Name</b></ion-label>
      <ion-input [(ngModel)]="exchange.name" placeholder="enter a descriptive name"></ion-input>
    </ion-item>  


    <ion-item>
      <ion-label>Source</ion-label>
      <ion-select placeholder="Select Source" 
              (ionChange)="sourceChange()"
              interface="action-sheet" 
              [(ngModel)]="exchange.sourcename">
        <ng-container *ngFor="let location of locations; let i = index;">
          <ion-select-option [value]="location.name">{{location.name}}</ion-select-option>
        </ng-container>
        <ion-select-option (click)="console.log('clicked')">ADD NEW SOURCE LOCATION</ion-select-option>
      </ion-select>
    </ion-item>
    

    <ion-item>
      <ion-label>Destination</ion-label>
      <ion-select placeholder="Select Source" 
              (ionChange)="destinationChange()"
              interface="action-sheet" 
              [(ngModel)]="exchange.desinationname">
        <ng-container *ngFor="let location of locations; let i = index;">
          <ion-select-option [value]="location.name">{{location.name}}</ion-select-option>
        </ng-container>
        <ion-select-option (click)="console.log('clicked')">ADD NEW DESTINATION LOCATION</ion-select-option>
      </ion-select>
    </ion-item>

  
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>
        <b>Destination Settings</b>
      </ion-label>
    </ion-list-header>
  


  </ion-list>


  exchange: {{ exchange | json }}



</ion-content>
